.saveBar {
  display: block;
  text-align: right;
  background: #fcfcfc;

}

.saveBar .save{
  border-color: #333381;
  width: 20%;
  max-width: 250px;
  margin-right: 16px;

}

.saveBar .Successmessage{
  justify-self: center;
  text-align: center;
  border-color: #333381;
  background: #35a335;
  width: 50%;
  max-width: 500px;
  margin-left: 48px;
}

.saveBar .Failuremessage{
  justify-self: center;
  text-align: center;
  border-color: #333381;
  background: #b62424;
  width: 50%;
  max-width: 500px;
  margin-left: 48px;
}

.dndflow {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
  
  .dndflow .dndnode.input {
    border-color: #0041d0;
  }
  .dndflow .dndnode.save {
    border-color: #0041d0;
  }
  .dndflow .dndnode.output {
    border-color: #ff0072;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100vh;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  .updatenode__controls {
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 16px;
  }
  
  .updatenode__controls label {
    display: block;
  }
  
  .updatenode__bglabel {
    margin-top: 20px;
  }
  
  .updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }